<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.springxml2.model.Person">
		<constructor-arg name="name" value="Bruno" type="java.lang.String"/>
		<property name="phoneNumber" value="085085225"></property>
	</bean>


</beans>
